################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/TellMeMore.Shared/bin/Debug/netstandard2.0
/TellMeMore.Shared/obj
/TellMeMore.Shared/bin/Debug/netstandard2.1
