TellMeMoreBlazor/obj/Debug/netcoreapp3.0/project.razor.json
TellMeMoreBlazor/obj/Debug/netcoreapp3.0/TellMeMoreBlazor.assets.cache
TellMeMoreBlazor/obj/Debug/netcoreapp3.0/TellMeMoreBlazor.csprojAssemblyReference.cache
TellMeMoreBlazor.Shared/obj/Debug/netstandard2.0/TellMeMoreBlazor.Shared.assets.cache
TellMeMoreBlazor.Shared/obj/Debug/netstandard2.0/TellMeMoreBlazor.Shared.csprojAssemblyReference.cache
