@page
@model TellMeMore.Pages.MxToolbox.scanModel
@{
	ViewData["Title"] = "scan";
	Layout = "~/Pages/Shared/_Layout.cshtml";
}

<div class="col-md-12" style="margin-top:2%;margin-bottom:2%;">
	<div class="alert alert-info alert-dismissible fade show">
		Note - Scan may take a couple of minutes. Please do not refresh page.
		<button type="button" class="close" data-dismiss="alert" aria-label="Close">
			<span aria-hidden="true">&times;</span>
		</button>
	</div>
</div>

<h1>MxToolbox Scan - (Coming soon..)</h1>

@if (!string.IsNullOrEmpty(TempData["Error"]?.ToString()))
{
	<div class="col-md-12" style="margin-top:2%;margin-bottom:2%;">
		<div class="alert alert-danger alert-dismissible fade show">
			@TempData["Error"]?.ToString()
			<button type="button" class="close" data-dismiss="alert" aria-label="Close">
				<span aria-hidden="true">&times;</span>
			</button>
		</div>
	</div>
}
