@page "/BuiltWith/scan"
@inject TellMeMoreBlazor.Interfaces.IBuiltWithService IBuiltWithService

<div class="col-md-12" style="margin-top:2%;margin-bottom:2%;">
	<div class="alert alert-info alert-dismissible fade show">
		Note - Scan may take a couple of minutes. Please do not refresh page.
		<br />
		This scan is intended to provide a high level overview of site technologies used.
		<button type="button" class="close" data-dismiss="alert" aria-label="Close">
			<span aria-hidden="true">&times;</span>
		</button>
	</div>
</div>

<h1>BuiltWith Scan</h1>

@if (!string.IsNullOrEmpty(Error))
{
	<div class="col-md-12" style="margin-top:2%;margin-bottom:2%;">
		<div class="alert alert-danger alert-dismissible fade show">
			@Error
			<button type="button" class="close" data-dismiss="alert" aria-label="Close">
				<span aria-hidden="true">&times;</span>
			</button>
		</div>
	</div>
}

@if (!string.IsNullOrEmpty(Loading))
{
	<div class="col-md-12" style="margin-top:2%;margin-bottom:2%;">
		<div class="alert alert-info alert-dismissible fade show">
			@Loading
			<button type="button" class="close" data-dismiss="alert" aria-label="Close">
				<span aria-hidden="true">&times;</span>
			</button>
		</div>
	</div>
}

<div class="form-group">
	<label style="font-size:large;font-weight:bold">Host URL</label>
	<input @bind="@HostUrl" type="text" placeholder="URL" class="input-group" />
	<br />
	<button @onclick="@LoadResultsAsync" type="submit">Scan</button>
</div>

@if (@builtWithModel?.domain != null)
{
	<h4>Host name @builtWithModel?.domain</h4>

	<table class="table">
		<thead>
			<tr>
				<th scope="col">Name detected</th>
				<th scope="col">Live?</th>
				<th scope="col">Dead?</th>
				<th scope="col">Categories</th>
			</tr>
		</thead>
		<tbody>
			@foreach (var item in builtWithModel?.groups)
			{
				<tr>
					<td>@(item?.name ?? "Not Found.")</td>
					<td>@item?.live</td>
					<td>@item?.dead</td>
					@foreach (var cat in item.categories)
					{
						<td>@(cat?.name ?? "Not Found.")</td>
					}
				</tr>
			}
		</tbody>
	</table>
}

@code
{
	public string Error { get; set; }
	public string Loading { get; set; }
	public string HostUrl { get; set; }
	public TellMeMoreBlazor.Models.BuiltWithModel builtWithModel { get; set; } = new Models.BuiltWithModel();

	async Task LoadResultsAsync()
	{
		try
		{
			Loading = "Scan running .. Please Wait...";

			builtWithModel = await IBuiltWithService.GetAsync(HostUrl);

			Loading = string.Empty;
		}
		catch (HttpRequestException ex)
		{
			Loading = string.Empty;
			Error = ex.Message;
		}
		catch (TellMeMoreBlazor.Exceptions.BuiltWithException ex)
		{
			Loading = string.Empty;
			Error = ex.Message;
		}
		catch (Exception)
		{
			Loading = string.Empty;
			Error = "An error occurred. Please try again later.";
		}
	}
}